<div class="page-header">
  <h3>Allergen #<%= @allergen.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @allergen.name %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/allergens" class="btn btn-primary">
        Back
      </a>
      <a href="/allergens/<%= @allergen.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_allergen/<%= @allergen.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
